body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .background {
        border: 0px;
        height: calc(100vh);
        width: calc(100vw);
        image-rendering: auto;
        background-image: (rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(1_zpnzhqvvazmJpJLkHB3VcQ.gif);
        position: absolute;
    }

    .option {
        position: relative;
        display: flex;
        height: 75vh;
        width: 65vh;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        flex-direction: column;
        padding: 15px;

        .top {
            display: flex;
            justify-content: space-between;

            header {
                height: 30px;
                width: 45vh;
                border-radius: 10px;
                margin-top: 5px;
                font-family: cursive;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
            }

            #infoButton {
                margin-top: 5px;
                height: 30px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: cursive;
            }

            #offcanvasExample {
                background-color: rgba(0, 0, 0, 0.4);
                color: white;
                font-family: cursive;
            }

            .offcanvas-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .menu {
            height: 100%;
            width: 100%;
            padding: 40px;

            >p {
                margin-bottom: 20px;
                color: white;
                font-size: large;
                font-family: cursive;
                text-align: center;
            }

            #menuButton {
                width: 100%;
                height: 90%;
                display: flex;
                justify-content: center;
                gap: 10px;

                >button {
                    height: 70px;
                    width: 160px;
                    font-family: cursive;
                    font-size: larger;
                    font-weight: 600
                }
            }
        }
        #insertion{
            height: 100%;
            width: 100%;
            padding: 10px 30px;
            font-family: cursive;
            font-size: large;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            >input{
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
        #deletion {
            height:100%;
            width: 100%;
            font-size: larger;
            color: white;
            padding: 10px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-family: cursive;
            >div{
                margin-bottom: 20px;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            button{
                width: 30%;
                margin-bottom: 20px;
            }
        }
        #updation{
            font-size: larger;
            color: white;
            font-family: cursive;
            padding: 0px 20px;
            >div{
                margin-bottom: 6px;
            }
        }
    }
}